* {
  background-color: #5a5454;
}

.mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wraper {
  width: 1200px;
}

.content .wraper {
  -webkit-box-shadow: 0 0 3px 3px black;
          box-shadow: 0 0 3px 3px black;
  background: #3e3e3e;
}

.content .wraper .header .container {
  background: #212121;
  width: 100%;
  height: 50px;
}

.content .wraper .header .container .left {
  margin-left: 10px;
}

.content .wraper .header .container .left a {
  font-size: 16px;
  color: white;
  opacity: 0.9;
  background-color: #212121;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.content .wraper .header .container .left a:hover {
  opacity: 1;
}

.content .wraper .header .container .left a span {
  padding: 4px 10px;
  background-color: #b13f3f;
  border-radius: 2px;
  border: 2px solid white;
}

.content .wraper .header .container .right {
  color: white;
  margin-right: 10px;
  background-color: #212121;
}

.content .wraper .header .container .right p {
  margin-right: 10px;
  background-color: #212121;
}

.content .wraper .header .container .right i {
  cursor: pointer;
}

.content .wraper .menu {
  margin-top: 10px;
}

.content .wraper .menu .container {
  background-color: #3e3e3e;
  height: 30px;
  width: 100%;
}

.content .wraper .menu .container .left {
  margin-left: 10px;
}

.content .wraper .menu .container .left form {
  position: relative;
}

.content .wraper .menu .container .left form input {
  width: 250px;
  padding: 4px 10px;
  color: white;
}

.content .wraper .menu .container .left form i {
  position: absolute;
  right: 10px;
  top: 50%;
  color: #3e3e3e;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.content .wraper .menu .container .mid-menu {
  -ms-flex-preferred-size: 69%;
      flex-basis: 69%;
  height: 100%;
  background-color: #212121;
}

.content .wraper .menu .container .right {
  margin-right: 10px;
  background-color: #212121;
  opacity: 0.8;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.content .wraper .menu .container .right:hover {
  opacity: 1;
}

.content .wraper .menu .container .right a {
  color: white;
  padding: 3px 8px;
  font-size: 16px;
}

.content .wraper .slider {
  margin: 15px 10px 10px 10px;
}

.content .wraper .slider .items {
  position: relative;
  overflow: hidden;
}

.content .wraper .slider .items:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.content .wraper .slider .items img {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.content .wraper .slider .items p.year {
  position: absolute;
  top: 8px;
  left: 8px;
  text-align: center;
  width: 60px;
  color: white;
  padding: 2px 8px;
  text-transform: capitalize;
  background-color: #212121;
  border: 2px solid #3e3e3e;
  font-size: 14px;
}

.content .wraper .slider .items .footer {
  position: absolute;
  height: 40px;
  bottom: 0px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
}

.content .wraper .slider .items .footer h3,
.content .wraper .slider .items .footer p {
  background-color: transparent;
}

.content .wraper .slider .items .footer h3 {
  margin-left: 10px;
  color: #f78f8f !important;
}

.content .wraper .slider .items .footer p {
  margin-right: 10px;
  color: white;
}

.content .wraper .new-films {
  padding: 5px 0;
}

.content .wraper .new-films .container {
  margin: 0 10px;
}

.content .wraper .new-films .container h3 {
  color: yellow;
  margin-bottom: 15px;
}

.content .wraper .new-films .container .films {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content .wraper .new-films .container .films .item {
  width: 225px;
  height: 300px;
  margin-bottom: 20px;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  position: relative;
  overflow: hidden;
}

.content .wraper .new-films .container .films .item:hover::after {
  opacity: 0;
  z-index: -1;
}

.content .wraper .new-films .container .films .item:hover a img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.content .wraper .new-films .container .films .item::after {
  content: "";
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  opacity: 1;
}

.content .wraper .new-films .container .films .item a {
  width: 225px;
  height: 300px;
  position: absolute;
  z-index: 10;
}

.content .wraper .new-films .container .films .item a img {
  width: 225px;
  height: 300px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.content .wraper .new-films .container .films .item a h4 {
  text-transform: capitalize;
  color: #feca57;
  font-weight: inherit;
  padding: 5px 0 5px 10px;
  -webkit-transform: translateY(-42px);
          transform: translateY(-42px);
  background-color: #212121;
}

.content .wraper .new-films .container .films .item a p {
  position: absolute;
  color: white;
  border-radius: 2px;
}

.content .wraper .new-films .container .films .item a p.count {
  top: 5px;
  left: 5px;
  width: 60px;
  height: 25px;
  font-size: 14px;
  border: 2px solid #3e3e3e;
  background-color: #212121;
}

.content .wraper .new-films .container .films .item a p.star {
  right: 5px;
  bottom: 45px;
  background-color: #212121;
  color: #b13f3f;
  font-size: 14px;
  padding: 0 8px;
  border-radius: 4px;
}

.content .wraper .footer {
  background-color: #212121;
  padding: 15px 0;
}

.content .wraper .footer .container {
  margin: 0 10px;
  background-color: #212121;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
}

.content .wraper .footer .container .left {
  background-color: #212121;
}

.content .wraper .footer .container .left h3 {
  text-transform: uppercase;
  color: #feca57;
  padding-bottom: 5px;
  background-color: #212121;
  border-bottom: 0.5px solid #ccc;
}

.content .wraper .footer .container .left ul {
  margin-top: 15px;
}

.content .wraper .footer .container .left ul li {
  padding: 5px 10px;
  background-color: #212121;
  width: 800px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.content .wraper .footer .container .left ul li:hover {
  background-color: #3e3e3e;
}

.content .wraper .footer .container .left ul li a {
  width: 700px;
  background-color: transparent;
  color: white;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.content .wraper .footer .container .right {
  background-color: #212121;
}

.content .wraper .footer .container .right h3 {
  text-transform: uppercase;
  color: #feca57;
  padding-bottom: 5px;
  background-color: #212121;
  border-bottom: 0.5px solid #ccc;
}

.content .wraper .footer .container .right ul {
  margin-top: 15px;
}

.content .wraper .footer .container .right ul li {
  padding: 10px;
  background-color: #212121;
}

.content .wraper .footer .container .right ul li a {
  background-color: #212121;
  color: white;
  border-bottom: 1px solid #ccc;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.content .wraper .footer .container .right ul li a:hover {
  border-bottom: 1px solid #3e3e3e;
}

.content .wraper .footer .container .right ul li a i {
  background-color: transparent;
}
/*# sourceMappingURL=demo.css.map */